{% extends "./inc/base.html" %}
{% block style%}
<link rel='stylesheet' href='/static/assets/css/styles.css' type='text/css' media='all' />
 <link rel='stylesheet' href='/static/assets/css/woocommerce-layout.css' type='text/css' media='all' />
  <link rel='stylesheet' href='/static/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
  <link rel='stylesheet' id='woocommerce-general-css' href='/static/assets/css/woocommerce.css' type='text/css' media='all' />
  <style>
	  .attach-block {
		position: absolute;
		padding: 0 10px;
		top: 1em;
		line-height: 40px;
		cursor: pointer;
		font-size: 12px;
		display: block;
		color: #03a9f4;
		right: 0;
		}
		.attach-block:hover {
		color: #038fcd;
		}
		.attach-block > * {
		vertical-align: middle;
		}
  </style>
{% endblock %}
{% block content %}

<div id="page_caption" class="hasbg parallax  withtopbar  " style="height:330px;background-image:url(http://cdn.qzuji.com/1920x630_meitu_2.jpg);">
	<div class="page_title_wrapper">
		<div class="page_title_inner">
			<div class="page_title_content">
				
			</div>
		</div>
	</div>
</div>

<!-- Begin content -->
<div class="one ppb_text woocommerce-cart">
        <div class="standard_wrapper">
          <div class="page_content_wrapper">
            <div>
              <div class="login-form-box">
                <div class="one_third" style="">
                  <div class="login-left">
                    <h3 class="login-tips">用户注册</h3>
                    <form role="form" class="wpcf7-form registerpost" id="login" action="/center/public/register" method="post">
                      <p class="wpcf7-form-control-wrap your-name">
                        <input type="text" id="signupform-phone" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" name="mobile" placeholder="手机号码" aria-required="true">
                        
                      </p>
                      
                      <p class="form-group field-signupform-password required">
                        <input type="password" id="signupform-password" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" name="password" placeholder="设置密码" aria-required="true">
                        
					  </p>
					  
					  <p class="form-group field-signupform-password required">
                        <input type="password" id="signupform-password2" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" name="password2" placeholder="确认密码" aria-required="true">
                        
					  </p>
					  
					  <div class="form-group field-signupform-password required" style="position:relative;padding-top:0.7em">
                        <input type="tel" id="signupform-verifycode" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" name="vcode" placeholder="短信验证码" aria-required="true">
                        <div class="attach-block" id="sendvcode">获取短信验证码</div>
            </div>
                      
                      <div class="form-group field-loginform-rememberme">
  <div class="checkbox">
  <label for="loginform-rememberme">
  <input type="checkbox" id="loginform-rememberme" name="clause" checked />
  我同意 <a href="/clause" target="_blank">网站服务条款</a>
  </label>
  <p class="help-block help-block-error"></p>
  
  </div>
  </div>
  
                        <div class="wc-proceed-to-checkout">
                          <a href="#" class="checkout-button alt login-btn ajax-post" target-form="registerpost">
     立即注册</a>
                        </div>
  
                    </form>
                  </div>
                </div>
                <div class="one_half last ">
                  <div class="login-right">
                        <h4>使用你最常用的社交账号登陆</h4>
						{{HOOK@logins|safe}}
						<p>我已经有一个帐户 <a href="/center/public/login"><strong>立即登录!</strong></a></p>
                  </div>
                </div>
                <p>
                  <br class="clear">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br class="clear" />
      {% endblock %}
      {% block script %}
      <script>
        _sendVerifycode();
      </script>
      {% endblock %}