{% extends "./inc/base.html" %}
{% block style%}
<link rel='stylesheet' href='/static/assets/css/styles.css' type='text/css' media='all' />
 <link rel='stylesheet' href='/static/assets/css/woocommerce-layout.css' type='text/css' media='all' />
  <link rel='stylesheet' href='/static/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
  <link rel='stylesheet' href='/static/assets/css/woocommerce.css' type='text/css' media='all' />
{% endblock %}
{% block content %}

<div id="page_caption" class="hasbg parallax  withtopbar  " style="height:330px;background-image:url(http://cdn.qzuji.com/1920x630_meitu_2.jpg);">
	<div class="page_title_wrapper">
		<div class="page_title_inner">
			<div class="page_title_content">
				
			</div>
		</div>
	</div>
</div>

<!-- Begin content -->
<div class="one ppb_text woocommerce-cart">
        <div class="standard_wrapper">
          <div class="page_content_wrapper">
            <div>
              <div class="login-form-box">
                <div class="one_third">
                  <div class="login-left">
                    <h3 class="login-tips">用户登录</h3>
                    {%if HOOK@loginView %}
                    {{HOOK@loginView|safe}}
                    {%else%}
                    <form role="form" class="wpcf7-form" method="post">
                      <p class="wpcf7-form-control-wrap your-name">
                        <input type="text" id="signupform-phone" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" name="username" placeholder="手机号码" aria-required="true">
                      </p>
                      
                      <p class="form-group field-signupform-password required">
                        <input type="password" id="signupform-password" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" name="password" placeholder="密码" aria-required="true">
                      </p>
                      
                      <div class="form-group field-loginform-rememberme">
                        <div class="checkbox one_third">
                          <label for="loginform-rememberme">
                          <input type="hidden" name="checkbox-inline" value="0"><input type="checkbox" id="loginform-rememberme" name="checkbox-inline" value="0">
                          记住登录
                          </label>
                          <p class="help-block help-block-error"></p>
                        
                        </div>
                        <div class="one_half last text-right"><a class="reset-pswd" href="/auth/reset-password">忘记密码？</a></div>
                      </div>
  
                        <div class="wc-proceed-to-checkout">
                          <a id="validate-submit" href="" class="checkout-button alt login-btn">立即登录</a>
                        </div>
  
                    </form>
                    {%endif%}
                  </div>
                </div>
                <div class="one_half last ">
                  <div class="login-right">
                        <h4>还没有账号?</h4>
                        <p>你可以在<a href="/center/public/register" class="text-info">这里</a>创建一个帐户 </p>
                        <p>或者</p>
                        {{HOOK@logins|safe}}
                  </div>
                </div>
                <p>
                  <br class="clear">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br class="clear" />
      {% endblock %}

      {% block script %}
        {%if not HOOK@loginView %}
        <script>
          _login();
        </script>
        {%endif%}
      {% endblock %}