{% extends "./inc_base.html" %}
{%if category.pid !=0%}
{%column data="column",pid=category.pid%}
{%else%}
{%column data="column",cid=category.id%}
{%endif%}
{% block style %}
<link rel="stylesheet" href="/static/assets/plugins/share/css/share.min.css">
{% endblock %}
{% block content %}

<div id="page_caption" class="hasbg parallax  withtopbar  " style="height:220px;background-image:url(http://cdn.qzuji.com/1280%2A220-discovery.jpg);"></div>

<!-- Begin content -->
<div id="page_content_wrapper" class="hasbg withtopbar ">
        <div class="inner">
          <!-- Begin main content -->
          <div class="inner_wrapper">
            <div class="sidebar_content">
              <!-- Begin each blog post -->
              <div id="post-18" class="post-18 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-accident tag-car-rental tag-tips">
                <div>
                  <div class="post_content_wrapper">
                    <h4 class="p1" style="text-align:center;margin-bottom:10px;">{{info.title}}</h4>
                    {{content(pagehook)}}
                    <div class="post-views post-18 entry-meta">
                      <span class="post-views-icon dashicons dashicons-chart-bar"></span>
                      <span class="post-views-label">浏览: </span>
                      <span class="post-views-count">{{info.view}}</span>
                    </div>
                    
                    <br class="clear" />
                    
                    <!--div class="social-share" data-disabled="google,twitter,facebook,diandian" ></div-->
                  </div>
                </div>
              </div>
              <!-- End each blog post -->
              
            </div>
            {% include "./inc_right.html"%}
          </div>
          <!-- End main content -->
        </div>
      </div>
      <br class="clear" />
{% endblock %}

{% block script %}
<!--script src="/static/assets/plugins/share/js/social-share.min.js"></script>
{% endblock %}
