{% extends "./inc_base.html" %}
{% block style %}
<link rel="stylesheet" href="/static/assets/plugins/jquery-daterangepicker/daterangepicker.min.css">
<link rel='stylesheet' href='/static/assets/plugins/share/css/share.min.css' type='text/css' media='all' />

<link rel="stylesheet"  href="/static/assets/plugins/fancybox/jquery.fancybox.min.css" />


{% endblock %}
{% block content %}
{% set pic = info.pics|strToArray%}
<span style="display: none" id="cartimg">
    <img src="{{pic[0]|get_pic('m=1,w=80')}}" />
</span>
<div id="page_caption" class="hasbg  withtopbar " style="background-image:url({{info.cover_id|get_pic('m=1')}});" >
	
	<div class="single_car_header_button">
		<div class="standard_wrapper">
						<a href="javascript:;" id="single_car_gallery_open" class="button fancy-gallery" data-trigger="gallery"><span class="ti-camera"></span>View Photos</a>
			<div style="display:none;">
                                {% for val in pic%}
								 <a href="{{val|get_pic('m=1,w=800,h=800')}}" title="" data-fancybox="gallery"></a>
                                {% endfor %}
							</div>
						
						
					</div>
	</div>
	
	<div class="single_car_header_content">
		<div class="standard_wrapper">
						<div class="single_car_header_price">
				<span id="single_car_price"><span class="single_car_currency">¥</span><span class="single_car_price">{{info.zujin}}</span></span>
				<span id="single_car_price_per_unit_change" class="single_car_price_per_unit">
					<span id="single_car_unit">每天</span>
					<span class="ti-angle-down"></span>
					
					<ul id="price_per_unit_select">
						<li class="icon arrow"></li>
												<li class="active">
							<a class="active" href="javascript:;" data-filter="car_price_day" data-price="&lt;span class=&quot;single_car_currency&quot;&gt;¥&lt;/span&gt;&lt;span class=&quot;single_car_price&quot;&gt;{{info.zujin}}&lt;/span&gt;">每天</a>
						</li>
																		<li>
							<a class="active" href="javascript:;" data-filter="car_price_hour" data-price="&lt;span class=&quot;single_car_currency&quot;&gt;¥&lt;/span&gt;&lt;span class=&quot;single_car_price&quot;&gt;{{info.zujin * 30}}&lt;/span&gt;">每月</a>
						</li>
																		<li>
							<a class="active" href="javascript:;" data-filter="car_price_airport" data-price="&lt;span class=&quot;single_car_currency&quot;&gt;¥&lt;/span&gt;&lt;span class=&quot;single_car_price&quot;&gt;{{info.zujin * 365}}&lt;/span&gt;">每年</a>
						</li>
											</ul>
				</span>
			</div>
					</div>
	</div>
</div>

<!-- Begin content -->
<div id="page_content_wrapper" class="hasbg withtopbar ">    
        <div class="inner">
    
            <!-- Begin main content -->
            <div class="inner_wrapper">
    
                <div class="sidebar_content">
                        
                    <h1>{{info.title}}</h1>
                                    <div class="car_attribute_wrapper">
                        <div class="car_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                <div class="br-widget">
                    <a href="javascript:;" class="br-selected"></a><a href="javascript:;" class="br-selected"></a><a href="javascript:;" class="br-selected"></a><a href="javascript:;" class="br-selected"></a><a href="javascript:;"></a>							</div>
                            </div>
                                <div class="car_attribute_rating_count">{{info.view}}&nbsp;reviews</div>
                                        </div>
                    </div>
                                                        <div class="single_car_attribute_wrapper themeborder">
                                                        <div class="one_fourth">
                                    
                                    <div class="car_attribute_content">
                                    重量：{{info.weight}}								</div>
                                </div>
                                                    
                                                        <div class="one_fourth">
                                    {#<div class="car_attribute_icon ti-package"></div>#}
                                    <div class="car_attribute_content">
                                        体积：{{info.chichun}}							</div>
                                </div>
                                                    
                                                        <div class="one_fourth">
                                    
                                    <div class="car_attribute_content">
                                        售价：{{item.price|get_price_format('1')}}									</div>
                                </div>
                                                    
                                                        {#<div class="one_fourth last">
                                    <div class="car_attribute_icon ti-car"></div>
                                    <div class="car_attribute_content">
                                        5&nbsp;
                                        Doors								</div>
                                </div>#}
                                                </div><br class="clear"/>
                                        <div class="single_car_content">
                                                {{content(pagehook)}}
                                        </div>
                                    
                                    <ul class="single_car_departure_wrapper themeborder">
                                            <li>
                            <div class="single_car_departure_title">Included</div>
                            <div class="single_car_departure_content">
                                                            <div class="one_half ">
                                    <span class="ti-check"></span>Audio input							</div>
                                                            <div class="one_half last">
                                    <span class="ti-check"></span>All Wheel drive							</div>
                                                            <div class="one_half ">
                                    <span class="ti-check"></span>Bluetooth							</div>
                                                            <div class="one_half last">
                                    <span class="ti-check"></span>USB input							</div>
                                                            <div class="one_half ">
                                    <span class="ti-check"></span>Heated seats							</div>
                                                            <div class="one_half last">
                                    <span class="ti-check"></span>FM Radio							</div>
                                                        </div>
                        </li>
                                            
                                            <li>
                            <div class="single_car_departure_title">Not Included</div>
                            <div class="single_car_departure_content">
                                                            <div class="one_half ">
                                    <span class="ti-close"></span>GPS Navigation							</div>
                                                            <div class="one_half last">
                                    <span class="ti-close"></span>Sunroof							</div>
                                                        </div>
                        </li>
                                        </ul>
    
                                        
                                            
            </div>
    
            <div class="sidebar_wrapper">
            
                <div class="sidebar_top"></div>
            
                <div class="sidebar">
                
                    <div class="content">
                                            <div class="single_car_booking_wrapper themeborder book_instantly">
                            <div role="form" class="wpcf7" id="wpcf7-f157-o1" lang="en-US" dir="ltr">
    <div class="screen-reader-response"></div>
    <form  class="wpcf7-form" novalidate="novalidate">
            <input type="hidden" name="product_id" value="{{info.id}}" />
            <input type="hidden" id="type" name="type" value="" />
            <!-- see assets/js/view/demo.shop.js -->
            <input type="hidden" id="days" name="days" value="3" />
    <p><label> 最短租期<br />
        <span class="wpcf7-form-control-wrap your-name"><span id="shortest">{{info.shortest}}</span> 天</span> </label></p>
    <p><label> 押金<br />
        <span class="wpcf7-form-control-wrap your-email">{{info.yajin}} 元</span> </label></p>
    <p><label> 库存<br />
        {% if info.total_stock != 0%}
        <span class="wpcf7-form-control-wrap your-email">{{info.total_stock}} 台</span> </label></p> 
        {% else%}
        <span class="wpcf7-form-control-wrap your-email">无货</span> </label></p>   
        {%endif%}    
    <p><label> 数量<br />
    <span class="wpcf7-form-control-wrap your-tel">
        <select name="qty" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </span> </label></p>
    <p><label> 选择租期<br />
    <span class="wpcf7-form-control-wrap pickup-date"><input id="pickup-date" type="text" name="pickup-date" value="mm/dd/yyyy" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-required wpcf7-validates-as-date" aria-required="true" aria-invalid="false" /></span> </label></p>
    
    <p><input type="submit" value="马上预定" class="wpcf7-submit button" /></p>
    </form></div>	
                            {#
    				    	    <div class="single_car_booking_divider">
                                    <span class="single_car_booking_divider_content">or</span>
                                </div>
                                
                                <div class="single_car_booking_woocommerce_wrapper">
                                    
                                    <button data-product="132" data-processing="Please wait..." data-url="http://themes.themegoods.com/grandcarrental/demo/wp-admin/admin-ajax.php?action=grandcarrental_add_to_cart&amp;product_id=132" class="single_car_add_to_cart button">Book Instantly</button>
                                </div>
                                #}
                                                    <div class="single_car_view_wrapper themeborder">
                                <div class="single_car_view_desc">
                                    这个产品已经被访问了&nbsp;{{info.view}}&nbsp;次			    			</div>
                                
                                <div class="single_car_view_icon ti-alarm-clock"></div>
                            </div>
                            <br class="clear"/>
                                                </div>
                        
                                                <div class="sidebar" style="margin-top:10px">
                                                        <div class="content">
                                                          <ul class="sidebar_widget">
                <li id="grandcarrental_social_profiles_posts-3" class="widget grandcarrental_Social_Profiles_Posts">
                        <h2 class="widgettitle">分享给朋友们</h2>
                        <div class="social-share" data-disabled="google,twitter,facebook,diandian" ></div>
                        </li>
                                                          </ul>
                                                        </div>
                                                </div>
                                            
                                            
                                               <div class="single_car_users_online_wrapper themeborder">
                               <div class="single_car_users_online_icon">
                                       <span class="ti-info-alt"></span>
                               </div>
                               <div class="single_car_users_online_content">
                                       <strong>231</strong> traveler(s) are considering our cars right now!						   </div>
                           </div>
                                        
                    </div>
            
                </div>
                <br class="clear"/>
            
                <div class="sidebar_bottom"></div>
            </div>
        
        </div>
        <!-- End main content -->
        
                 <br class="clear"/>
              <div class="car_related">
            <h3 class="sub_title">更多推荐</h3>
                <div id="portfolio_filter_wrapper" class="gallery classic three_cols portfolio-content section content clearfix" data-columns="3">
                {%topic data="moregoods",cid="" + category.id + "",limit="3",isstu=1,type="hot",where="{\"id\":[\"<>\", " + info.id + "]}",cache="1000"%}
                {%- for item in moregoods %}
                {% set pic = item.pics|strToArray%}
                    <div class="element grid classic3_cols">
                        <div class="one_third gallery3 classic static filterable portfolio_type themeborder" data-id="post-149">
                            
                            <a class="car_image" href="{{item.name|get_url(item.id)}}">
                                <img src="{{pic[0]|get_pic('m=1,w=260,h=260')}}" />
                                                        </a>
                            
                            <div class="portfolio_info_wrapper">
                                <div class="car_attribute_wrapper">
                                    <a class="car_link" href="{{item.name|get_url(item.id)}}"><h4>{{item.title}}</h4></a>
                                                                        <div class="car_attribute_rating">
                                                                                
                                                                            <div class="car_attribute_rating_count">
                                                {{item.view}}&nbsp;
                                                reviews										</div>
                                                                        </div>
                                                                    
                                                                        <div class="car_attribute_wrapper_icon">
                                                                                        <div class="one_fourth">
                                                    <div class="car_attribute_icon ti-user"></div>
                                                    <div class="car_attribute_content">
                                                    5												</div>
                                                </div>
                                                                                    
                                                                                        <div class="one_fourth">
                                                    <div class="car_attribute_icon ti-briefcase"></div>
                                                    <div class="car_attribute_content">
                                                        4												</div>
                                                </div>
                                                                                    
                                                                                        <div class="one_fourth">
                                                    <div class="car_attribute_icon ti-panel"></div>
                                                    <div class="car_attribute_content">
                                                        Auto												</div>
                                                </div>
                                                                                    
                                        </div><br class="clear"/>
                                                                </div>
                                <div class="car_attribute_price">
                                                                    <div class="car_attribute_price_day three_cols">
                                        <span class="single_car_currency">¥</span><span class="single_car_price">{{item.zujin}}</span>			        				<span class="car_unit_day">每天</span>
                                    </div>
                                                                </div>
                                <br class="clear"/>
                            </div>
                                </div>
            </div>
            {%- endfor %}
                    
                    </div>
              </div>
           
    </div>
    </div>
    
{% endblock %}

{% block script %}
<script src="/static/assets/plugins/share/js/social-share.min.js"></script>
<!-- PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="/static/assets/plugins/bootstrap.daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery-daterangepicker/jquery.daterangepicker.min.js"></script>
<script type="text/javascript" src="/static/assets/js/view/demo.shop.js"></script>
<script src="/static/assets/plugins/fancybox/jquery.fancybox.min.js"></script>
<script>
    var shortest = Number($('#shortest').html());
    var start = moment().add(1, 'days');
    var end = moment().add(shortest+1, 'days');
    

    function cb(start, end) {
        $('#pickup-date').val(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
        $('#days').val(Math.ceil(end.diff(start) / (1000 * 3600 * 24)) + 1);
    }

    $('#pickup-date').dateRangePicker({
        startDate:start.format('YYYY-MM-DD'),
        minDays:shortest,
        language:'cn'
    }).bind('datepicker-change',function(event,obj)
    {
        //console.log(obj);
        cb(moment(obj.date1), moment(obj.date2))
    })

    cb(start, end);
</script>
{% endblock %}
