<!-- Begin mobile menu -->
<a id="close_mobile_menu" href="javascript:;"></a>
<div class="mobile_menu_wrapper">
  <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>
  <div class="mobile_menu_content">
    <div class="menu-main-menu-container">
      <ul id="mobile_main_menu" class="mobile_main_nav">
        <li id="menu-item-6" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-6"><a href="/">首页</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8"><a href="/discovery">发现</a></li>
            
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11"><a href="/mall">商城</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13"><a href="/help">帮助</a></li>
      </ul>
    </div>
    <!-- Begin side menu sidebar -->
    <div class="page_content_wrapper">
      <div class="sidebar_wrapper">
        <div class="sidebar">
          <div class="content">
            <ul class="sidebar_widget">
              <li id="text-8" class="widget widget_text">
                <h2 class="widgettitle">For More Informations</h2>
                <div class="textwidget"><span class="ti-mobile" style="margin-right:10px;"></span>13761850940
                  <br/>
                  <span class="ti-alarm-clock" style="margin-right:10px;"></span>Mon - Sat 8.00 - 18.00</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End side menu sidebar -->
    <div class="social_wrapper">
      <ul>
        <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li class="twitter"><a target="_blank" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
        <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
        <li class="pinterest"><a target="_blank" title="Pinterest" href="http://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
        <li class="instagram"><a target="_blank" title="Instagram" href="http://instagram.com/theplanetd"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- End mobile menu -->