<!-- Begin mobile menu -->
<a id="close_mobile_menu" href="javascript:;"></a>
<div class="mobile_menu_wrapper">
  <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>
  <div class="mobile_menu_content">
    <div class="menu-main-menu-container">
      <ul id="mobile_main_menu" class="mobile_main_nav">
        <li id="menu-item-6" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-6"><a href="#">首页</a>
        </li>
        <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8"><a href="#">汽车</a>
          <ul class="sub-menu">
            <li id="menu-item-223" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-223"><a href="#">Car By Brands</a>
              <ul class="sub-menu">
                <li id="menu-item-227" class="menu-item menu-item-type-taxonomy menu-item-object-carbrand menu-item-227"><a href="#">Audi</a></li>
                <li id="menu-item-225" class="menu-item menu-item-type-taxonomy menu-item-object-carbrand menu-item-225"><a href="#">BMW</a></li>
                <li id="menu-item-228" class="menu-item menu-item-type-taxonomy menu-item-object-carbrand menu-item-228"><a href="#">Lexus</a></li>
                <li id="menu-item-224" class="menu-item menu-item-type-taxonomy menu-item-object-carbrand menu-item-224"><a href="#">Mercedes Benz</a></li>
                <li id="menu-item-226" class="menu-item menu-item-type-taxonomy menu-item-object-carbrand menu-item-226"><a href="#">Porsche</a></li>
              </ul>
            </li>
            <li id="menu-item-229" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-229"><a href="#">Car By Types</a>
              <ul class="sub-menu">
                <li id="menu-item-232" class="menu-item menu-item-type-taxonomy menu-item-object-cartype menu-item-232"><a href="#">Coupe</a></li>
                <li id="menu-item-230" class="menu-item menu-item-type-taxonomy menu-item-object-cartype menu-item-230"><a href="#">Sedan</a></li>
                <li id="menu-item-231" class="menu-item menu-item-type-taxonomy menu-item-object-cartype menu-item-231"><a href="#">SUV</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9"><a href="#">预约</a>
          <ul class="sub-menu">
            <li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-car menu-item-134"><a href="#">Car Rental</a></li>
          </ul>
        </li>
        <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10"><a href="#">关于我们</a>
          <ul class="sub-menu">
            <li id="menu-item-2464" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2464"><a href="#">About Us</a></li>
            <li id="menu-item-2740" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2740"><a href="#">Services</a></li>
            <li id="menu-item-2649" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2649"><a href="#">Contact Us</a></li>
            <li id="menu-item-2653" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2653"><a href="#">FAQs</a></li>
          </ul>
        </li>
        <li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11"><a href="#">新闻活动</a>
          <ul class="sub-menu">
            <li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="#">Blog Right Sidebar</a></li>
          </ul>
        </li>
        <li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13"><a href="#">商城</a>
          <ul class="sub-menu">
            <li id="menu-item-2673" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2673"><a href="#">商城</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Begin side menu sidebar -->
    <div class="page_content_wrapper">
      <div class="sidebar_wrapper">
        <div class="sidebar">
          <div class="content">
            <ul class="sidebar_widget">
              <li id="text-8" class="widget widget_text">
                <h2 class="widgettitle">For More Informations</h2>
                <div class="textwidget"><span class="ti-mobile" style="margin-right:10px;"></span>1-567-124-44227
                  <br/>
                  <span class="ti-alarm-clock" style="margin-right:10px;"></span>Mon - Sat 8.00 - 18.00</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End side menu sidebar -->
    <div class="social_wrapper">
      <ul>
        <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li class="twitter"><a target="_blank" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
        <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
        <li class="pinterest"><a target="_blank" title="Pinterest" href="http://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
        <li class="instagram"><a target="_blank" title="Instagram" href="http://instagram.com/theplanetd"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- End mobile menu -->