<div class="sidebar_wrapper">
        <div class="sidebar_top"></div>
        <div class="sidebar">
          <div class="content">
            <ul class="sidebar_widget">
              <li id="grandcarrental_cat_posts-3" class="widget grandcarrental_Cat_Posts">
                <h2 class="widgettitle"><span>热门发现</span></h2>
                <ul class="posts blog withthumb ">
                  {% topic data = "hotlist",limit= "5",cid=category.id,type="hot",cache="1000"%}
                  {%for v in hotlist%}
                  <li>
                    <div class="post_circle_thumb"><a href="{{v.name|get_url(v.id)}}"><img class="alignleft frame post_thumb" src="{{v.cover_id|get_pic('m=1,w=150,h=150')}}" alt="" /></a></div><a href="{{v.name|get_url(v.id)}}">{{v.title}}</a>
                    <div class="post_attribute">{{v.create_time|moment('YYYY-MM-DD HH:mm')}}</div>
                  </li>
                  {%endfor%}
                </ul>
              </li>
              <li id="grandcarrental_instagram-2" class="widget grandcarrental_Instagram">
                <h2 class="widgettitle">最新发现</h2>
                <ul class="posts blog withthumb ">
                  {% topic data = "newlist",limit= "5",cid=category.id,cache="1000"%}
                  {%for v in newlist%}
                  <li>
                  <div class="post_circle_thumb"><a href="{{v.name|get_url(v.id)}}"><img class="alignleft frame post_thumb" src="{{v.cover_id|get_pic('m=1,w=150,h=150')}}" alt="" /></a></div><a href="{{v.name|get_url(v.id)}}">{{v.title}}</a>
                  <div class="post_attribute">{{v.create_time|moment('YYYY-MM-DD HH:mm')}}</div>
                  </li>
                  {%endfor%}
                  
                </ul>
                <br class="clear" />
              </li>
            </ul>
          </div>
        </div>
        <br class="clear" />
        <div class="sidebar_bottom"></div>
      </div>