{% extends "./inc_base.html" %}
{% block style%}
<link href="/static/assets/css/layout-shop.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
{%set cate = category.id|get_cate()%}
{%column data="column",pid=45%}

<div id="page_caption" class="hasbg parallax  withtopbar  " style="height:330px;background-image:url(http://p4szpsplk.bkt.clouddn.com/1920x630_meitu_2.jpg);"></div>

<div id="page_content_wrapper" class="hasbg withtopbar ">
    <form id="car_search_form" class="car_search_form" method="get">
        <div class="car_search_wrapper">
          <div class="one_fourth themeborder">
            <select id="sch_brand" name="brand">
              <option value="">品牌</option>
              {%for val in typevar%}
              {%if val.optionid == 26%}
              {%for r in val.rules%}
              <option value="{{r.id}}">{{r.name}}</option>
              {%endfor%}
              {%endif%}
              {%endfor%}
            </select>
            <span class="ti-angle-down"></span>
          </div>
          <div class="one_fourth themeborder">
            <select id="sch_type" name="type">
              <option value="">类型</option>
              {%for val in column%}
              <option value="{{val.id}}">{{val.name}}</option>
              {%endfor%}
            </select>
            <span class="ti-angle-down"></span>
          </div>
          <div class="one_fourth themeborder">
            <select id="sch_sort_by" name="sort_by">
              <option value="8">租金由高到低</option>
              <option value="9">租金由低到高</option>
              <option value="10">按销量排序</option>
              <option value="2">按评分排序</option>
            </select>
            <span class="ti-exchange-vertical"></span>
          </div>
          <div class="one_fourth last themeborder">
            <input id="car_search_btn" type="submit" class="button" value="搜索" />
          </div>
        </div>
    </form>

      <div class="inner">
        <div class="inner_wrapper nopadding">
          <div id="page_main_content" class="sidebar_content fixed_column">
                <div class="standard_wrapper">
                        <div id="portfolio_filter_wrapper" class="gallery grid two_cols portfolio-content section content clearfix" data-columns="3">
                                {% for item in list%}
                                {% set pic = item.pics|strToArray%}
                                <div class="element grid classic2_cols animated2">
                                        <div class="one_half gallery2 grid static filterable portfolio_type themeborder" data-id="post-2" style="background-image:url({{pic[0]|get_pic('')}});">
                                          <a class="car_image" href="{{item.name|get_url(item.id)}}"></a>
                                          <div class="portfolio_info_wrapper">
                                            <div class="car_attribute_wrapper">
                                              <h4>{{item.title}}</h4>
                                              <div class="car_attribute_wrapper_icon">
                                                <div class="one_fourth">
                                                  <div class="car_attribute_icon ti-user"></div>
                                                  <div class="car_attribute_content">
                                                    4 </div>
                                                </div>
                                                <div class="one_fourth">
                                                  <div class="car_attribute_icon ti-briefcase"></div>
                                                  <div class="car_attribute_content">
                                                    2 </div>
                                                </div>
                                                <div class="one_fourth">
                                                  <div class="car_attribute_icon ti-panel"></div>
                                                  <div class="car_attribute_content">
                                                    Auto </div>
                                                </div>
                                              </div>
                                              <br class="clear" />
                                            </div>
                                            <div class="car_attribute_price">
                                              <div class="car_attribute_price_day three_cols">
                                                <span class="single_car_currency">¥</span><span class="single_car_price">{{item.zujin}}</span> <span class="car_unit_day">每天</span>
                                              </div>
                                            </div>
                                            <br class="clear" />
                                          </div>
                                        </div>
                                      </div>
                                    {%endfor%}
                        </div>
                        <br class="clear" />
                        <div>
                          {{pagination | safe}}
                        </div>
                </div>
          </div>
          <div class="sidebar_wrapper">
                <div class="sidebar">
                  <div class="content">
                    <ul class="sidebar_widget">
                      <li id="text-4" class="widget widget_text">
                        <h2 class="widgettitle">For More Informations</h2>
                        <div class="textwidget"><span class="ti-mobile" style="margin-right:10px;"></span>021-56509792
                          <br/>
                          <span class="ti-alarm-clock" style="margin-right:10px;"></span>Mon - Sat 8.00 - 18.00</div>
                      </li>
                      <li id="grandcarrental_cat_posts-2" class="widget grandcarrental_Cat_Posts">
                        <h2 class="widgettitle"><span>热卖</span></h2>
                        <ul class="posts blog withthumb ">
                        {%topic data="hotgoods",limit="9",isstu=1,cid=category.id,type="hot",cache="1000"%}
                        {%- for items in hotgoods | slice(3) %}
                        {%- for item in items %}
                        {% set pic = item.pics|strToArray%}
                          <li>
                            <div class="post_circle_thumb"><a href="{{item.name|get_url(item.id)}}"><img class="alignleft frame post_thumb" src="{{pic[0]|get_pic('m=2,w=150,h=150')}}" alt="{{item.title}}" /></a></div><a href="{{item.name|get_url(item.id)}}">{{item.title}}</a>
                            <div class="post_attribute">{{item.zujin|formatCurrency}}元/天</div>
                          </li>
                          {%- endfor %}
                          {%- endfor %}
                        </ul>
                      </li>
                      {#
                      <li id="grandcarrental_instagram-3" class="widget grandcarrental_Instagram">
                        <h2 class="widgettitle">Recent Trips</h2>
                        <ul class="flickr">
                          <li><a target="_blank" href="https://www.instagram.com/p/BfiyropljwL/"><img src="https://scontent.cdninstagram.com/vp/82b2f6fe9a08f03b7c537a7c26b400f9/5B18E435/t51.2885-15/s150x150/e35/c0.135.1080.1080/28158302_154256861877311_8120642924523290624_n.jpg" width="75" height="75" alt="" /></a></li>
                          <li><a target="_blank" href="https://www.instagram.com/p/Bfga61oFzKH/"><img src="https://scontent.cdninstagram.com/vp/96bbde78e024689ae57cd4ad7d6cee14/5B144818/t51.2885-15/s150x150/e35/c0.135.1080.1080/28154486_337792980050670_2013111241047801856_n.jpg" width="75" height="75" alt="" /></a></li>
                          <li><a target="_blank" href="https://www.instagram.com/p/BfbDkoglY-i/"><img src="https://scontent.cdninstagram.com/vp/b24601f7e648a47024dc5a3e31462fe7/5B1DAD1F/t51.2885-15/s150x150/e35/c0.135.1080.1080/27892820_313619659159768_4347838081420754944_n.jpg" width="75" height="75" alt="" /></a></li>
                          <li><a target="_blank" href="https://www.instagram.com/p/BfV5nPjFwxy/"><img src="https://scontent.cdninstagram.com/vp/da234eb8607fad9875670de7945fed6f/5A937EBE/t51.2885-15/s150x150/e15/27879904_377346212729376_2706528737414873088_n.jpg" width="75" height="75" alt="" /></a></li>
                          <li><a target="_blank" href="https://www.instagram.com/p/BfQwkz7lSkw/"><img src="https://scontent.cdninstagram.com/vp/e46778651dc376d017f2ce4f999e4fbb/5B0B1193/t51.2885-15/s150x150/e35/c0.135.1080.1080/27892989_390585188068544_492130800318283776_n.jpg" width="75" height="75" alt="" /></a></li>
                          <li><a target="_blank" href="https://www.instagram.com/p/BfJB_8ulYkj/"><img src="https://scontent.cdninstagram.com/vp/2395f92169d552ac17ecfa81fc802d0f/5B0D9B53/t51.2885-15/s150x150/e35/c0.135.1080.1080/27878331_1794155054227580_4732715705747636224_n.jpg" width="75" height="75" alt="" /></a></li>
                          <li><a target="_blank" href="https://www.instagram.com/p/BfD4bUblYHB/"><img src="https://scontent.cdninstagram.com/vp/1daeaad8b29f24fae0f40695a9488ba3/5B16C3EF/t51.2885-15/s150x150/e35/c0.135.1080.1080/27578685_478271165903385_1098165683809681408_n.jpg" width="75" height="75" alt="" /></a></li>
                          <li><a target="_blank" href="https://www.instagram.com/p/Be8KDkFFSF6/"><img src="https://scontent.cdninstagram.com/vp/2e5a8efdb2cf93e396506bf6c6fbf04f/5B4909DD/t51.2885-15/s150x150/e35/c0.134.1080.1080/27574407_549614245395586_4266320074589077504_n.jpg" width="75" height="75" alt="" /></a></li>
                          <li><a target="_blank" href="https://www.instagram.com/p/Be2_UOVljwi/"><img src="https://scontent.cdninstagram.com/vp/70d8342af1087d28fe159c0ebe8dd496/5A935A84/t51.2885-15/s150x150/e15/26871174_332562110562924_627224598567452672_n.jpg" width="75" height="75" alt="" /></a></li>
                        </ul>
                        <br class="clear" />
                      </li>
                      
                      <li id="grandcarrental_social_profiles_posts-3" class="widget grandcarrental_Social_Profiles_Posts">
                        <h2 class="widgettitle">Connect with Us</h2>
                        <div class="social_wrapper shortcode light small">
                          <ul>
                            <li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a target="_blank" title="Twitter" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                            <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                            <li class="pinterest"><a target="_blank" title="Pinterest" href="https://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/theplanetd"><i class="fa fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </li>
                      #}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

</div>

<br class="clear" />
{#
    <div class="car_recently_view">
      <div class="standard_wrapper">
        <h3 class="sub_title">Recently View Cars</h3>
        <div id="portfolio_filter_wrapper" class="gallery grid four_cols portfolio-content section content clearfix" data-columns="4">
          <div class="element grid classic4_cols animated1">
            <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder" data-id="post-1" style="background-image:url(http://themegoodsthemes-pzbycso8wng.stackpathdns.com/grandcarrental/demo/wp-content/uploads/2017/01/mercedes-benz-cls-class-shooting-brake-13824-1920x1200-700x466.jpg);">
              <a class="car_image" href="http://themes.themegoods.com/grandcarrental/demo/car/mercedes-benz-cls-class/"></a>
              <div class="portfolio_info_wrapper">
                <div class="car_attribute_wrapper">
                  <h5>Mercedes Benz CLS-Class</h5>
                </div>
                <div class="car_attribute_price">
                  <div class="car_attribute_price_day four_cols">
                    <span class="single_car_currency">$</span><span class="single_car_price">100</span> <span class="car_unit_day">Per Day</span>
                  </div>
                </div>
                <br class="clear" />
              </div>
            </div>
          </div>
          <div class="element grid classic4_cols animated2">
            <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder" data-id="post-2" style="background-image:url(http://themegoodsthemes-pzbycso8wng.stackpathdns.com/grandcarrental/demo/wp-content/uploads/2017/01/bmw-3-series-sedan-wallpaper-1920x1200-05-700x466.jpg);">
              <a class="car_image" href="http://themes.themegoods.com/grandcarrental/demo/car/bmw-3-series/"></a>
              <div class="portfolio_info_wrapper">
                <div class="car_attribute_wrapper">
                  <h5>BMW 3 Series</h5>
                </div>
                <div class="car_attribute_price">
                  <div class="car_attribute_price_day four_cols">
                    <span class="single_car_currency">$</span><span class="single_car_price">64</span> <span class="car_unit_day">Per Day</span>
                  </div>
                </div>
                <br class="clear" />
              </div>
            </div>
          </div>
          <div class="element grid classic4_cols animated3">
            <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder" data-id="post-3" style="background-image:url(http://themegoodsthemes-pzbycso8wng.stackpathdns.com/grandcarrental/demo/wp-content/uploads/2017/01/Porsche-Boxster-Wheels-8-700x466.jpg);">
              <a class="car_image" href="http://themes.themegoods.com/grandcarrental/demo/car/porsche-boxster/"></a>
              <div class="portfolio_info_wrapper">
                <div class="car_attribute_wrapper">
                  <h5>Porsche Boxster</h5>
                </div>
                <div class="car_attribute_price">
                  <div class="car_attribute_price_day four_cols">
                    <span class="single_car_currency">$</span><span class="single_car_price">180</span> <span class="car_unit_day">Per Day</span>
                  </div>
                </div>
                <br class="clear" />
              </div>
            </div>
          </div>
          <div class="element grid classic4_cols animated4">
            <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder" data-id="post-4" style="background-image:url(http://themegoodsthemes-pzbycso8wng.stackpathdns.com/grandcarrental/demo/wp-content/uploads/2017/01/2016-Mercedes-Benz-GLE-2-700x466.jpg);">
              <a class="car_image" href="http://themes.themegoods.com/grandcarrental/demo/car/mercedes-benz-gle/"></a>
              <div class="portfolio_info_wrapper">
                <div class="car_attribute_wrapper">
                  <h5>Mercedes Benz GLE</h5>
                </div>
                <div class="car_attribute_price">
                  <div class="car_attribute_price_day four_cols">
                    <span class="single_car_currency">$</span><span class="single_car_price">127</span> <span class="car_unit_day">Per Day</span>
                  </div>
                </div>
                <br class="clear" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    #}
{% endblock %}

{% block script%}
<!-- PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="/static/assets/js/view/demo.shop.js"></script>

{% endblock %}