{% extends "./inc_base.html" %}
{% block content %}
{%set cate = category.id|get_cate()%}
<div id="page_caption" class="hasbg parallax  withtopbar  " style="height:300px;background-image:url(http://p4szpsplk.bkt.clouddn.com/1920x630_meitu_2.jpg);"></div>

<!-- Begin content -->
<div id="page_content_wrapper" class="hasbg withtopbar blog_wrapper">
    <div class="inner">
      <!-- Begin main content -->
      <div class="inner_wrapper">
        <div class="page_content_wrapper"></div>
        <div id="blog_grid_wrapper" class="sidebar_content">
          <!-- Begin each blog post -->
          {% for val in list %}
          {% set categoryname = val.category_id|get_cate %}
          <div class="post-18 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-accident tag-car-rental tag-tips">
            <div class="post_wrapper grid_layout">
              <div class="post_img small static">
                <a href="{{val.name|get_url(val.id)}}">
                          <img src="{{val.cover_id|get_pic('m=1,w=960,h=636')}}" alt="{{val.title}}" class="" style="width:960px;height:636px;"/>
                      </a>
              </div>
              <div class="post_header_wrapper">
                <div class="post_header grid">
                  <div class="post_detail single_post">
                    <span class="post_info_date">
                      <a href="{{val.name|get_url(val.id)}}" title="{{val.title}}">{{val.create_time|moment('YYYY-MM-DD HH:mm')}}</a>
                  </span>
                  </div>
                  <h6><a href="{{val.name|get_url(val.id)}}" title="{{val.title}}">{{val.title}}</a></h6>
                </div>
                {{val.description|truncate(90, true, "...")}}
                <div class="post_button_wrapper">
                  <a class="readmore" href="{{val.name|get_url(val.id)}}">Read More<span class="ti-angle-right"></span></a>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
          <!-- End each blog post -->
          <br class="clear" />
          <div>
                {{pagination | safe}}
          </div>
        </div>
        {% include "./inc_right.html"%}
      </div>
      <!-- End main content -->
    </div>
  </div>
  <br class="clear" />
{% endblock %}